

.praia_grid .ui-block-a 
 { 
    width: 60%;
 }

.praia_grid .ui-block-b 
 { 
    width: 40%; 
 }

.comment_grid
{
    height: 126px;
}

.comment_grid .ui-block-a
{
     width: 60%; 
}

.comment_grid .ui-block-b 
{
    width: 40%; 
}
  
.post_comment
{
	width : 50%;
}


#bar_feed
{
    min-height: 35px;
}

#div_feed
{
	height: 126px;
	overflow: scroll;
}
.span_nota
{
    float: right;
}
.right_float
{
    float: right;
}

.praia_dados
{
    font-size: 80%;
}

.comment_img
{	
   float: left;
}

.com_nome_span
{
   float: left;
   margin-left: 10px;
}

.comment_h_div
{
    
}

.comment_p_div
{
    height : 60px;
}
.span_com
{
    font-size: 80%;
}

.span_div_com
{
    height: 27px;
}
