.praia_grid .ui-block-a 
{ 
    width: 60%;
}
.center-wrapper
{
    text-align: center;
}

.center-wrapper *
{
    margin: 0 auto;
}

.wordwrap 
{ 
    white-space: pre-wrap !important;      /* CSS3 */   
    white-space: -moz-pre-wrap !important; /* Firefox */    
    white-space: -pre-wrap !important;    /* Opera <7 */   
    white-space: -o-pre-wrap !important;   /* Opera 7 */    
    word-wrap: break-word !important;     /* IE */
}

.logo
{
    height: 35px;
    width: 35px;	  
}

.wave_fav
{
    height: 35px;
    width: 50px;
    padding-left: 5px;	  
}
.praia_grid .ui-block-b 
{ 
    width: 40%; 
}

.comment_grid
{
    height: 295px;
}

.comment_grid .ui-block-a
{
    width: 60%; 
}

.comment_grid .ui-block-b 
{
    width: 40%; 
}

.post_comment
{
    width : 50%;
}

#bar_feed
{
    min-height: 35px;
    background-color: #E66916;
}

#loading_img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.span_nota
{
    float: right;
}
.right_float
{
    float: right;
}

.praia_dados
{
    font-size: 95%;
}

.comment_img
{	
    float: left;
}

.com_nome_span
{
    float: left;
    margin-left: 10px;
}

.comment_h_div
{
    
}

.comment_p_div
{
    height : 245px;
}
.span_com
{
    font-size: 80%;
}

.span_div_com
{
    height: 27px;
}

